@model Aula2407.Models.Cliente
@{

    ViewData["Title"] = "Cadrastro Cliente";

}

<div class="container">
    @* LINHA TITULO *@
    <div class="row">
        <div class="col text-center">
            <h1>Cadastro Cliente</h1>
        </div>
    </div>

    <form method="post">
        <div class="row">
            <div class="col">
                <label asp-for="NomeCompleto" class="col-sm-2 col-form-label fw-bold"></label>
                <input asp-for="NomeCompleto" type="text" class="form-control" id="Nome" type="text" />
            </div>
            <div class="col-lg-3">
                <label asp-for="CPF" class="col-form-label fw-bold"></label>
                <input asp-for="CPF" type="text" class="form-control" id="CPF" type="text" />
            </div>
            <div class="col-lg-2">
                <label asp-for="EMAIL" class="col-form-label fw-bold"></label>
                <input asp-for="EMAIL" type="text" class="form-control" id="EMAIL" type="text" />
            </div>
            <div class="col-lg-2">
                <label asp-for="Telefone" class="col-form-label fw-bold text-nowrap"></label>
                <input asp-for="Telefone" type="text" class="form-control" id="Telefone" type="text" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">

                <label asp-for=" Endereco" class="col-sm-2 col-form-label fw-bold"></label>
                <input asp-for="Endereco" type="text" class="form-control" id="Endereco" type="text" />
            </div>
        </div>
        <div class="row mt-3 justify-content-md-end">
            <div class="col-3 d-flex justify-content-end">
                <input type="submit" class="btn btn-outline-info btn-lg" name="name" value="Cadastrar" />
            </div>
        </div>
    </form>
